@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ChannelEngine assignment</h1>
    <p>The foremost authority for top-5 ranking and stock modification.</p>
</div>
